Calculator/Calculator.Web.Services/Service References/CalculationEngineServices/CalculationEngine.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58146/CalculationEngine.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calculator.Common.Entities" />
  <xs:element name="ApplyCalculation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Calculator.Common.Entities" minOccurs="0" name="operation" nillable="true" type="q1:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyCalculationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplyCalculationResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>