Calculator/Calculator.Web.Services/Service References/CalculationHelperServices/CalculationHelper3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58146/CalculationHelper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calculator.Common.Entities" />
  <xs:element name="AddOperationToQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Calculator.Common.Entities" minOccurs="0" name="operation" nillable="true" type="q1:Operation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperationToQueueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>